Test Webhook.json
{
  "name": "Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f5b22586-6535-4b3a-9afa-211f7dddc729",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c44a5f07-4afc-43d5-b829-8c1cb123e6e9",
      "name": "Webhook",
      "webhookId": "f5b22586-6535-4b3a-9afa-211f7dddc729",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wh8VPXh7De2D5VGq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.body"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c3c22199-c5c1-449b-a898-8821a0e69d82",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CVZM_U6QaE3HCaGPe_zKe6zmRhreT1fvjP_spSnNZKo",
          "mode": "list",
          "cachedResultName": "Data Webhook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CVZM_U6QaE3HCaGPe_zKe6zmRhreT1fvjP_spSnNZKo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CVZM_U6QaE3HCaGPe_zKe6zmRhreT1fvjP_spSnNZKo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "c1fa3eb0-686e-4b23-8573-2db5b88a2387",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G6Bcc84br9w4SzpZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b22c9561-0518-4ca6-9888-182fab1bccb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04e09870535818dc7431580029879379bc471d42b899d18e6d3808c329311b95"
  },
  "id": "j4ddSo10Yuhh9S7Z",
  "tags": []
}